{% extends 'base.html' %}
{% load static %}

{% block metalink %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block title %}Drive Performance Comparison{% endblock %}

{% block content %}
  <div class="info_table">
    <h2>Drive Performance Comparison</h2>

    <table id="drive-comparison-Table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Part Number</th>
          <th>Firmware Version</th>
          <th>Modified</th>
        </tr>
      </thead>
      <tbody>
        {% for drive in drives %}
        <tr>
          <td><a href="{% url 'drive_benchmark:drive_detail' drive.id %}">{{ drive.drive_pn }}</a></td>
          <td>{{ drive.drive_fw }}</td>
          <td>{{ drive.modified }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="performance_line_graph">
      <div id="drive_read_chart_div" style="width: 900px; height: 500px;"></div>
    </div>

    <div class="performance_line_graph" >
      <div id="drive_write_chart_div" style="width: 900px; height: 500px;"></div>
    </div>

<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawCurveTypes);

	function drawCurveTypes() {
	    var data = new google.visualization.DataTable();
	    data.addColumn('string', 'X');
	    block_sizes = ['1K', '2K', '4K', '8K', '16K', '32K', '64K', '128K', '256K', '512K', '1M', '2M']

        {% for drive in drives %}
          data.addColumn('number', '{{ drive.drive_pn }}')
        {% endfor %}

        matrix = new Array()
        for (var i = 0; i < block_sizes.length; i++){
          matrix[i] = new Array()
          matrix[i].push(block_sizes[i])
        }

        {% for drive in drives %}
          {% for val in drive.get_avg %}
            matrix[{{ forloop.counter0 }}].push({{ val.0 }})
          {% endfor %}
        {% endfor %}
        data.addRows(matrix)

	    var options = {
	    	title: 'Average Read Performance',
	        hAxis: {
		       title: 'Block Size'
		    },
		    vAxis: {
		        title: 'Speed (MB/s)'
		    },
		    series: {
		        1: {curveType: 'function'}
		    }
		};

		var chart = new google.visualization.LineChart(document.getElementById('drive_read_chart_div'));
		chart.draw(data, options);
	}
</script>

<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawCurveTypes);

	function drawCurveTypes() {
	    var data = new google.visualization.DataTable();
	    data.addColumn('string', 'X');
	    block_sizes = ['1K', '2K', '4K', '8K', '16K', '32K', '64K', '128K', '256K', '512K', '1M', '2M']

        {% for drive in drives %}
          data.addColumn('number', '{{ drive.drive_pn }}')
        {% endfor %}

        matrix = new Array()
        for (var i = 0; i < block_sizes.length; i++){
          matrix[i] = new Array()
          matrix[i].push(block_sizes[i])
        }

        {% for drive in drives %}
          {% for val in drive.get_avg %}
            matrix[{{ forloop.counter0 }}].push({{ val.1 }})
          {% endfor %}
        {% endfor %}
        data.addRows(matrix)

	    var options = {
	    	title: 'Average Write Performance',
	        hAxis: {
		       title: 'Block Size'
		    },
		    vAxis: {
		        title: 'Speed (MB/s)'
		    },
		    series: {
		        1: {curveType: 'function'}
		    }
		};

		var chart = new google.visualization.LineChart(document.getElementById('drive_write_chart_div'));
		chart.draw(data, options);
	}
</script>

<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fio_chart/css/performance_comparison.css' %}">

<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
{#<script src="{% static 'linpack_bench_app/js/linpack_detail.js' %}"></script>#}
{% endblock %}

{% block footer %}
  {#<a href="{% url 'linpack:index' %}">Menu</a>#}
{% endblock %}