th, td {
	text-align: center;
}

#drives-table-div {
	margin: auto;
	padding: 10px;
	width: 100%;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:22px;
    height:22px;
    background:white;
    border-radius:5px;
    border:1px solid #666;
}
input[type='checkbox']:checked {
    background: #777;
}
